Editor
{
	QATLocation = Above
	RibbonMinimizedMode = False
	RibbonLastSelectedTabTypeByUser = Home
	ShowTipsAsStartup = True
	OpenFileAtStartup = 
	Favorites = 
}
"Scene Editor"
{
	CreateObjectsMode = Drop
	CreateObjectsBrushRadius = 1
	CreateObjectsBrushStrength = 0.5
	CreateObjectsBrushHardness = 0.5
}
"Terrain Editor"
{
	TerrainToolShape = Circle
	TerrainToolRadius = 3
	TerrainToolStrength = 0.5
	TerrainToolHardness = 0.5
}
TipsWindow
{
	currentTip = 1
}
Docking
{
	Page
	{
		Name = MessageLogWindow
		AutoHiddenSlideSize = 420 300
	}
	Page
	{
		Name = OutputWindow
		AutoHiddenSlideSize = 420 300
	}
	Page
	{
		Name = DebugInfoWindow
		AutoHiddenSlideSize = 420 300
	}
}
ResourcesWindow
{
	ContentBrowser
	{
		PanelMode = TwoPanelsSplitHorizontally
		ListMode = Auto
		SearchBar = False
		SplitterPosition = 0.6
	}
}
StoresWindow
{
	ContentBrowser
	{
		PanelMode = List
		ListMode = Tiles
		TileImageSize = 60
		SearchBar = False
		SplitterPosition = 0.6
	}
	Filter
	{
		LicenseMIT = True
		CCAttribution = True
		CCAttributionBYSA = True
		CCAttributionBYND = True
		CCAttributionBYNC = False
		CCAttributionBYNCSA = False
		CCAttributionBYNCND = False
		CC0 = True
		FreeToUseWithNeoAxis = True
		PaidPerSeat = True
		SortBy = Relevance
		MinTriangleCount = 1
		MaxTriangleCount = 10000000
		StaffPicks = False
		Animated = False
		ShowRestricted = False
	}
}
MessageLogWindow
{
	SplitterOrientation = Vertical
	SplitterDistance = 1851
}
